@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  font-size: 14;
  padding: 8;
  border-radius: 4;
}

.btn-primary {
  background-color: #3498db;
  color: white;
}

.btn-success {
  background-color: #2ecc71;
  color: white;
}

.btn-info {
  background-color: #9b59b6;
  color: white;
}

.text-white {
  color: white;
}